<!DOCTYPE html>
<html>
    <head>
        <meta name = "viewport" content="width=devicewidth", initial-scale=1.0>
        <meta charset="utf-8">
        <title><%= title %> | Bid dee</title>
        <link rel="short icon" href="/asset/favicon.ico">
        <link rel="stylesheet" href="../login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"> 
        <link rel="shortcut icon" type="image/x-icon" href="../Assets/img/biddee_icon.png" />
        
    </head>
    <body>
        <div class = "container">
            <img src="../Assets/img/biddee_icon.png" alt="Biddee Logo">
            
          
                <h1 class = "form__tittle">Error, your link has expired or not valid.</h1>
               
                <div class="text__description">
                    Please use the latest link.
                </div>
                
                <button class="form__button" onclick="window.location.href='/auth/forget-password';">Back to recovery</button>    
            
            <button class="form__back" onclick="window.location.href='/auth/login';">Back to login</button>
        </div>
    </body>
</html>