<!DOCTYPE html>
<html>
    <head>
    
        <meta name = "viewport" content="width=devicewidth", initial-scale=1.0>
        <meta charset="utf-8">
        <title><%= title %> | Bid dee</title>
        <link rel="short icon" href="/asset/favicon.ico">
        <link rel="stylesheet" href="../login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" type="image/x-icon" href="../Assets/img/biddee_icon.png" />
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">   <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet"> -->
        
    </head>
    <body>
        <div class = "container">
            <img src="../Assets/img/biddee_icon.png" alt="Biddee Logo">
            
            <form class = "form" id = "forget-pw" action="/sent-reset" method="post">
                <h1 class = "form__tittle">Recover your password</h1>
                <div class = "form__message form__message--error"></div>

                <div class="form__input--group">
                    <input type="text" class = "form__input" id = "email" autofocus placeholder="Email">
                    <div class="form_input-error-message"></div>
                </div>
                <div class="text__description">
                    We will send a reset password link to your email.
                </div>
                <button class="form__button" type = "submit">Send</button>
                
            </form>
            <button class="form__back" onclick="window.location.href='/auth/login';">Back to Login</button>
        </div>
        <script src= "../forgetPw.js"> </script>
    </body>
</html>