
<!DOCTYPE html>
<html>
    <head>
        
        <meta name = "viewport" content="width=devicewidth", initial-scale=1.0>
        <meta charset="utf-8">
        <title><%= title %> | Bid dee</title>
        
        <link rel="short icon" href="/asset/favicon.ico">
        <link rel="stylesheet" href="/login.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">   <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet"> -->
        <link rel="shortcut icon" type="image/x-icon" href="../Assets/img/biddee_icon.png" />
        
    </head>
    <body>
        
        <div class = "container">
            <img src="../Assets/img/biddee_icon.png" alt="Biddee Logo">
            
            <form class = "form" id = "resetPw" action="/password-reset" method="post">
                <h1 class = "form__tittle">Change Password</h1>
                <div class = "form__message form__message--error"></div>
                <input type="hidden" id="userId" value="<%=userId%>">
                <h4>Password</h4>
                <div class="form__input--group">
                    <input type="password" class = "form__input form__input--error" id = "password" autofocus placeholder="Password">
                </div>
                <h4>Confirm Password</h4>
                <div class="form__input--group">
                    <input type="password" class = "form__input form__input--error" id = "confirm--password" autofocus placeholder="Confirm Password">
                </div>
                <button class="form__button" type = "submit">Continue</button>
                
            </form>
        </div>
        <script src= "../resetPw.js"></script>
    </body>
</html>